body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: inherit;
  background: none;
  border: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

header {
  background-color: #e7e9fc;
}

footer {
  background-color: #2e2f42;
}

/* common styles */
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.values,
.team,
.portfolio {
  padding: 96px 0;
}

.title-htw {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02emimg;
  text-align: center;
}

.title-ht {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.main-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

/* header */

.nav-class {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-class {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-top-line {
  display: flex;
  align-items: center;
  height: 56px;
}

.nav-list,
.contacts-list {
  display: none;
}


.logo {
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;

  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
}

.logo-span {
  color: #2e2f42;
}

.nav-list {
  align-items: flex-start;
  gap: 40px;
}

.contacts-list {
  gap: 40px;
}
.nav-list-link {
  display: block;
  padding: 24px 0;

  color: #2e2f42;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;

  color: #404bbf;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover {
  color: #404bbf;
}
.current:focus {
  border-radius: 2px;
  color: #404bbf;
}

.current:after {
  content: '';
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  margin-top: 20px;

  background-color: #404bbf;
  border-radius: 2px;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  text-decoration: none;
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.menu-button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon{
  fill: #2F2F37;
}

/* Main title */
.main-title {
  max-width: 320px;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/goit-markup-hw-05/images/people-office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 72px 0;
}

.main-title-h {
  max-width: 216px;
  margin: 0 auto 48px;

  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.07;
}

.main-title-button {
  display: block;
  margin: 0 auto;

  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

  background-color: #4d5ae5;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-title-button:hover,
.main-title-button:focus {
  background-color: #404bbf;
}

/* values */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.values .title-ht{
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02emimg;
  text-align: center;
}

.values-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.values-list-item:last-child {
  margin-right: 0;
}

.values-list-item .title-ht {
  margin-bottom: 8px;
}

.icon-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

/* team */

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-htw {
  margin-bottom: 72px;
}

.team {
  background-color: #f4f4fd;
  text-transform: capitalize;
}

.team-list {
  gap: 72px;
}

.team-list-item {
  width: 264px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.team-list-item-desc {
  padding: 32px 0;
}

.team-list-item-desc .title-ht {
  text-align: center;
  margin-bottom: 8px;
}

.team-list-item-desc .main-text {
  text-align: center;
  margin-bottom: 8px;
}

.traling-icons {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.list-icon {
  width: 40px;
  height: 40px;
}
.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}

/* our portfolio */

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-list-item {
  width: 288px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item-desc {
  text-align: left;
  padding: 32px 16px;

  border-right: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-left: 1px solid var(--CORNFLOWER, #e7e9fc);
}

.portfolio-list-item-desc .title-ht {
  margin-bottom: 8px;
}

.img-portfolio {
  position: relative;
  overflow: hidden;
}
.hidden-info {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  height: 100%;
  width: 100%;

  background-color: #4d5ae5;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .hidden-info {
  transform: translateY(0%);
}

/* Footer */
.foot {
  padding: 97.5px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 72px;
}

footer .logo {
  margin-bottom: 16px;
  width: 288px;
  justify-content: center;

  color: #4d5ae5;
}

footer .logo-web {
  color: #f4f4fd;
}

.f-text {
  max-width: 264px;
  color: #f4f4fd;
}


.foot-icons-container{
  width: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot-s-text {
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
}

.footer-icons-list {
  display: flex;
  gap: 16px;
}
 
.f-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.f-link-icon:hover,
.f-link-icon:focus {
  background-color: #31d0aa;
}

.f-icon {
  fill: #f4f4fd;
}

.foot-form{
  width: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-form-email{
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;

  margin-bottom: 16px;
}

.f-form-email::placeholder{
  color: #ffffff;
}

.f-form-button{
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.f-icon-subscribe{
  margin-left: 16px;
}

/* Modal window */

.modal-window-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-container.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;

  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close:hover,
.modal-window-close:focus{
  background-color: #404bbf;
  border: none;
}

.icon-close{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close:hover .icon-close,
.modal-window-close:focus .icon-close {
  fill: #ffffff;
}

.modal-window-info{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;

}

.modal-form-container{
  margin-bottom: 8px;
}

.form-label{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.form-input-container{
  position: relative;
}

.form-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.form-input:focus{
  border-color: #4D5AE5; 
}

.form-icons{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icons {
  fill: #4D5AE5; 
}

.modal-form-comment-container{
  margin-bottom: 16px;

}

.form-textarea{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.form-textarea:focus{
  border-color: #4D5AE5;
}

.form-chekbox-container{
  margin-bottom: 24px;
}

.check-text{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

  display: flex;
  align-items: center;

}

.span-checkbox-text{
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;

  transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  flex-shrink: 0;
}

.modal-check:checked + .check-text .span-checkbox-text {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-policy-link{
  color: #4D5AE5;
}

.form-button-send{
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;

  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


/* Mobile nav list */

.menu-modal-window-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-modal-window-container.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-modal-window{
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-cont{
  width: 100%;
  height: 40px;
}



.nav-list-link-modal {
  display: block;
  padding: 40px 0 40px 16px;

  text-decoration: none;
  color: #2E2F42;

font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; 
letter-spacing: 0.72px;
}

.nav-list-modal-cont{
  padding-bottom: 128px;
}


.nav-list-link-modal:hover {
  color: #404bbf;
}

.contacts-list-modal{
  padding-bottom: 24px;
}

.contacts-link-modal {
  display: block;
  padding: 24px 0 24px 16px;
  text-decoration: none;
  color: #434455;
  font-family: Roboto;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link-modal:hover,
.contacts-link-modal:focus {
  color: #404bbf;
}




@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-top-line{
    height: 72px;
  }

  .nav-list,
  .contacts-list {
    display: flex;
  }

  .contacts-list{
    flex-direction: column;
    gap: 12px;
    padding: 16px 0;
  }

  .contacts-link{
    padding: 0;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14px; 
letter-spacing: 0.48px;
  }

  .menu-button{
    display: none;
  }

  .logo{
    padding-right: 120px;
    height: 72px;
  }
  
  .values,
  .team,
  .portfolio {
    padding: 96px 0;
  }
  
  .main-title-h {
    max-width: 496px;
    margin: 0 auto 48px;
  
    color: #ffffff;
    font-size: 56px;
  }

  .main-title{
    max-width: 768px;
    padding: 112px 0;
  }

  .main-title-h{
    margin-bottom: 36px;
  }

  
.values-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
}
.values-list-item {
  flex-basis: calc((100% - 24px) / 2);
}

.icon-container {
  display: none;
}

.values .title-ht {
  text-align: left;
  font-size: 36px;
}

/* team */

.team-container{
  padding: 0 92px;
}

.team-list {
  gap: 64px;
}

.team-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
  column-gap: 24px;
  
}

.team-list-item{
  flex-basis: calc((100% - 24px) / 2);
}

/* Portfolio */

.portfolio-list{
  gap: 72px;
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
  column-gap: 24px;

}

.portfolio-list-item{
  flex-basis: calc((100% - 24px) / 2);
}

/* Footer */

.foot{
  padding-left: 92px;
}

.footer-container{
  
  gap: 72px;
}

.footer-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 24px;
}

footer .logo{
  justify-content: start;
  height: auto;
  padding: 0;
  width: 264px;
}

.foot-icons-container{
  width: 264px;
}

footer .main-text,
footer .foot-s-text{
  text-align: left;
  width: 264px;
}

.foot-icons-container{
  align-items: start;
}

.foot-form{
  width: 453px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}

.modal-window{
  width: 408px;
}

}

@media (min-width: 1168px) {
  .container {
    max-width: 1168px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .values,
.team,
.portfolio {
  padding: 96px 0;
}



.main-title-h {
  max-width: 496px;
  margin: 0 auto 48px;

  color: #ffffff;
  font-size: 56px;

}

.main-title{
  max-width: 1440px;
  padding: 188px 0;
}

/* VALUES */

.values-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.values-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.icon-container {
  display: flex;
}

.title-ht {
  text-align: left;
}

.title-ht{
font-size: 20px;
}

/* TEAM */

.team-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.title-htw {
  margin-bottom: 72px;
}

.team {
  background-color: #f4f4fd;
  text-transform: capitalize;
}

.team-list {
  gap: 24px;
}

.team-list-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

/* OUR PORTFOLIO */


.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  flex-basis: calc((100% - 2 * 24px) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FOOTER */

.foot{
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  margin: 0 141px;
  gap: 0;
}

.foot-logo-desc {
  margin-right: 120px;
}

.foot-icons-container{
  margin-right: 80px;
}

.foot-form{
  display: flex;
  gap: 24px;
}

.f-form-email{
  margin-bottom: 0;
}

.foot-s-text{
  text-align: left;
}

/* Modal window */

.modal-window{
  width: 408px;
  min-height: 584px;
}

}